.background {
    width: 100vw;
    height: 100vh;
    position: absolute;
}
.homepage {
  position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("../../img/000051470023.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #7F8690;
    scroll-behavior: smooth;
}

.arrow {
  position: absolute;
    cursor: pointer;
  bottom: 30px;
    width: 30px;
    height: 30px;
  animation-duration: 2s;
  animation-iteration-count: infinite;

}

.arrow-animation {
  animation-name: homepage__arrow-animation ;
  animation-timing-function: ease;
}

@keyframes homepage__arrow-animation {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.img {
    width: 100%;
    filter: invert(1);
}

.header {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

.overlay {
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.link {
    margin: 0;
    padding: 0;
    display: block;
    width: 30px;
}

.overlay:before {
    width: 100%;
    background: rgba(42, 44, 47, 1);
    opacity: 0.5;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}